<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:/media/the-backpack/Work/University/Year 2/Semester 2/Ingineria Sistemelor Soft/Laborator/lab-2/agenti-de-vanzari/salespersons/salespersons.db</property>

        <mapping resource="hibernate/model/Salesperson.hbm.xml"/>
        <mapping resource="hibernate/model/Client.hbm.xml"/>
        <mapping resource="hibernate/model/Product.hbm.xml"/>
        <mapping resource="hibernate/model/Order.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
