<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="salespersonRepository" class="repositories.hibernate.SalespersonHibernateRepository"/>
    <bean id="clientRepository" class="repositories.hibernate.ClientHibernateRepository"/>
    <bean id="productRepository" class="repositories.hibernate.ProductHibernateRepository"/>
    <bean id="orderRepository" class="repositories.hibernate.OrderHibernateRepository"/>

    <bean id="services" class="services.Services">
        <constructor-arg ref="salespersonRepository"/>
        <constructor-arg ref="clientRepository"/>
        <constructor-arg ref="productRepository"/>
        <constructor-arg ref="orderRepository"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="salespersons"/>
        <property name="service" ref="services"/>
        <property name="serviceInterface" value="services.IServices"/>
        <property name="servicePort" value="1099"/>
    </bean>
</beans>